@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Apple';
    src: url(../Fontes/DaysOne-Regular.ttf);
}

body {
background-color: rgba(128, 128, 128, 0.5);
}

.titulo_header {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 68, 68);
    font-size: 50px;
}   

.paragrafo_header {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 45px;
    font-size: 25px;
    color: rgb(68, 68, 68);
    font-weight: bold;

}
.nav_estilo ul li{
    display: inline;
}
div.nav_bg {
    background-color: rgb(22, 22, 22);
}

nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 206);
}