@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Apple';
    src: url(../Fontes/DaysOne-Regular.ttf);
}

body {
background-color: rgba(56, 56, 56, 0.5);
}


nav {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

nav ul li { display: inline;
    font-family: Arial, Helvetica, sans-serif;
 
}

.letra_nav {
    text-decoration: none;
    color: rgb(110, 110, 110);
    padding: 10px;

}

#hover_nav:hover {
    background-color: rgb(51, 51, 51);
    padding: 10px;    
}

.logo_nav {
    width: 1.6%;
    margin-bottom: -3px;
}


.logo_apple {
    width: 6%;
}

.titulo_header {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
}   

.paragrafo_header {
    margin-top: -50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    font-size: 25px;
    color: rgb(77, 77, 77);
    font-weight: bold;
    padding-bottom: 10px;
}

div.div_header {
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    margin: 20px;
    padding: 10px;
}

div.main_design {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    text-align: left; 
    max-width: 800px;
    margin:  auto; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    margin: auto;
}

.iPhone_1 img {
    max-width: 100%;
    height: auto;
    margin-left: 20px; 
}

.text {
    flex: 1; 
    margin-right: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}

.text h1{
    font-size: 40px;
}
.text p {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

div.main_design:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;


}

div.design_main {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    text-align: left; 
    max-width: 800px;
    margin: auto;
    backdrop-filter: blur(10px);
    z-index: -1;
    background-color: black;
    
}




